<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Poncho</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/argob-poncho/css/poncho.min.css">
    <link rel="stylesheet" href="/lib/argob-poncho/icono-arg.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="http://argob.github.io/poncho/js/html5shiv.js"></script>
        <script src="http://argob.github.io/poncho/js/respond.min.js"></script>
    <![endif]-->
    <style>
        @@media
                print {
                    /* All your print styles go here */
                    main .jumbotron

                {
                    display: none;
                }

                main, .pane-content .print, .print h2 {
                    width: 90%;
                    margin: 0 auto;
                }

                #destacados {
                    padding: 0;
                    margin: 0;
                    page-break-after: always;
                }

                .panel {
                    border: 2px solid #333;
                    border-radius: 5px;
                    margin: 10px 0 !important;
                }

                .row.apps {
                    width: 100%;
                    margin: 0 auto;
                }


                .panel-heading {
                    display: none;
                }

                .panel-separator, .panel-pane.pane-atajos, .pane-content {
                    padding: 0;
                    margin: 0;
                }
                /* Quitar o No Mostrar Rutas Internas */
                a[href]:after {
                    display: none;
                }
                /* Rutas que empiecen con http
              a[href^=http]:after {
                 content: " (" attr(href) ")";
                 display: block;
              }
              */
                .page-break {
                    display: block;
                    height: 100px;
                    width: 100%;
                }

                .panel {
                    margin: 0;
                }

                .panel-body {
                    margin: 10px;
                }
                }
    </style>

</head>
<body>

    <header>
        <nav class="navbar navbar-top navbar-default" role="navigation">
            <div class="container">
                <div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/proyectos/argentina/" aria-label="Argentina.gob.ar Presidencia de la Nación">
                            <img alt="Argentina.gob.ar" src="/img/argentinagob.svg" height="50">
                        </a>
                        <a class="btn btn-link btn-login visible-xs" href="/proyectos/mi-argentina/v3/"><i class="icono-arg-mi-argentina fa-fw"></i></a>
                        <a class="btn btn-primary btn-login visible-xs" href="#" onclick="$('.navbar.navbar-top').addClass('state-search');"><span class="fa fa-search fa-fw"></span></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <a href="#" onclick="$('.navbar.navbar-top').removeClass('state-search');" class="btn btn-link visible-xs"> <i class="fa fa-times"></i> </a>
                        <li>
                            <div class="input-group">

                                <input id="buscar" type="text" class="form-control" aria-label="Buscar trámites, servicios o áreas" placeholder="Buscar trámites, servicios o áreas ...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" id="buscar-btn" type="button" aria-label="Buscar"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </li>
                        <a href="#" class="dropdown-toggle btn btn-link hidden-xs" aria-label="Ingresar a Mi Argentina" data-toggle="dropdown">
                            <i class="icono-arg-mi-argentina"></i>Mi Argentina
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <script type="text/javascript">
        var busqueda = document.getElementById('buscar');
        var buscar = document.getElementById('buscar-btn');
        buscar.onclick = function () {
            var buscado = busqueda.value;
            location.href = "http://www.argentina.gob.ar/buscar/" + buscado;
        };

        //PONCHO LABS
        var url_string = window.location.href;
        var url = new URL(url_string);
        var lab = url.searchParams.get("lab");


        if (lab == "") {
            $("head").append('<link href="/proyectos/poncho/css/poncho_lab.css" rel="stylesheet">');
        }
    </script>

    <main role="main">
        @RenderBody()
    </main>


    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="image-responsive" alt="Argentina.gob.ar - Presidencia de la Nación" src="/img/argentinagob.svg" height="50">
                    <p class="text-muted small"><a href="https://creativecommons.org/licenses/by/2.5/ar/">Los contenidos de Argentina.gob.ar están licenciados bajo Creative Commons Reconocimiento 2.5 Argentina License</a></p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <ul>
                        <li><a href="/servicios">Trámites y servicios</a></li>
                        <li><a href="/turnos">Turnos</a></li>
                        <li><a href="/organismos">Organismos del Estado</a></li>
                        <li><a href="http://mapadelestado.modernizacion.gob.ar/" target="_blank" aria-label="Mapa del Estado - Sitio Externo">Mapa del Estado</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <ul>
                        <li><a href="/acerca">Acerca de este sitio</a></li>
                        <li><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
                        <li><a href="/ayuda">Ayuda</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
