@{
    ViewData["Title"] = "Home Page";
}
<section class="jumbotron" style="background-image:url(&apos;https://www.argentina.gob.ar/sites/default/files/styles/jumbotron/public/backimage_buscador/dsc_6377_paisaje_jujuy.jpg?itok=08iW_ZPN&apos;);">
    <div class="jumbotron_body jumbotron_body-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">&#xBF;Qu&#xE9; est&#xE1;s buscando?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-md-2">
                    <form role="search">
                        <div class="input-group input-group-lg">
                            <input class="form-control" type="text" aria-label="Buscar tr&#xE1;mites, servicios o &#xE1;reas"
                                   placeholder="Buscar tr&#xE1;mites, servicios o &#xE1;reas ..."> <span class="input-group-btn">

                                <button class="btn btn-primary" aria-label="Buscar" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section>
    <div class="container">
        <div class="row apps">
            <div class="col-lg-8 offset-md-2">
                <a id="appAlert" class="alert alert-info d-block d-sm-none" href="/app">

                    <div class="media">

                        <div class="align-self-start mr-3 media-middle">

                            <i class="fa fa-mobile fa-fw fa-3x"></i>

                        </div>

                        <div class="media-body media-middle">

                            <h5 class="m-y-0">Descarg&#xE1; la aplicaci&#xF3;n.</h5>

                            <p id="appAlertText" class="m-y-0">Disponible para Android y iOS.</p>

                        </div>

                    </div>

                </a>
            </div>
        </div>
        <div>
            <div class="panel-pane pane-texto">
                <div class="pane-content">
                    <div class="">
                        <div class="row apps">
                            <div class="col-lg-8 offset-md-2">
                                <a id="appAlert" class="alert alert-info d-block d-sm-none" href="/app">

                                    <div class="media">

                                        <div class="align-self-start mr-3 media-middle"> <i class="fa fa-mobile fa-fw fa-3x"></i></div>

                                        <div class="media-body media-middle">

                                            <h5 class="m-y-0">Descarg&#xE1; la aplicaci&#xF3;n.</h5>

                                            <p id="appAlertText" class="m-y-0">Disponible para Android y iOS.</p>

                                        </div>

                                    </div>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-atajos">
                <div class="pane-content">
                    <div class="row card-equal-height " id="destacados"></div>
                </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-texto">
                <div class="pane-content">
                    <div class="">
                        <section class="m-y-0 p-y-1">
                            <h2>Este mes te puede interesar</h2>
                            <div class="">
                                <div class="row card-equal-height m-t-2">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="estudiar">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa icono-arg-educacion fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Estudiar</h3>

                                                        <p>Niveles y modalidades educativas, programas, becas y rev&#xE1;lida de t&#xED;tulos.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="hogar-pareja-y-familia">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa icono-arg-hogar-y-familia fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Pareja y familia</h3>

                                                        <p>Tr&#xE1;mites relacionados con estar en pareja, tener un hijo o enfrentar el fallecimiento de un ser querido.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="/tema/consumidores">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa fa-2x icono-arg-carrito text-primary fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Consumidores</h3>

                                                        <p>Informaci&#xF3;n sobre tus derechos, herramientas para comprar o contratar servicios, y pautas para hacer un reclamo.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-texto">
                <div class="pane-content">
                    <div class="">
                        <section class="m-y-0 p-y-1">
                            <div class="">
                                <h2>Tr&#xE1;mites y servicios</h2>
                                <div class="row card-equal-height m-t-2">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="identidad">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa fa-id-card-o fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Identidad</h3>

                                                        <p>Te guiamos en tr&#xE1;mites tales como sacar el DNI o pasaporte y cambio de g&#xE9;nero, entre otros.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="trabajar">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa icono-arg-trabajador fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Trabajar</h3>

                                                        <p>Todos los s ervicios por si sos empleado, monotributista, quer&#xE9;s capacitarte o est&#xE1;s buscando trabajo.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="cuidar-la-salud">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa icono-arg-medicamentos fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Cuidar la salud</h3>

                                                        <p>Vacunas obligatorias, primeros auxilios ante emergencias y consejos para una vida saludable.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="page-break"></div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="emprender-innovar-crecer">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa fa-line-chart fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Emprender, innovar, crecer</h3>

                                                        <p>Herramientas de financiamiento y capacitaci&#xF3;n para emprendedores y PyMEs.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="jubiladosypensionados">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa icono-arg-jubilado fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Adultos mayores</h3>

                                                        <p>Consejos, servicios y orientaci&#xF3;n para realizar tr&#xE1;mites de jubilaciones y pensiones.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="discapacidad">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa fa-wheelchair fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Personas con discapacidad</h3>

                                                        <p>Servicios para atenci&#xF3;n de la salud, asignaciones familiares, viajar gratis y m&#xE1;s tr&#xE1;mites.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="argentinos-en-el-exterior">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa icono-arg-exterior fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Argentinos en el mundo</h3>

                                                        <p>Si te encontr&#xE1;s en otro pa&#xED;s o vas a hacer un viaje, cheque&#xE1; informaci&#xF3;n &#xFA;til.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="extranjeros-en-argentina">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa icono-arg-social fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Extranjeros en Argentina</h3>

                                                        <p>Informaci&#xF3;n y servicios para los que viajan, estudian, trabajan y viven en la Argentina.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="cultura-y-tiempo-libre">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa icono-arg-museo fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Cultura y tiempo libre</h3>

                                                        <p>Propuestas recreativas y deportivas, agenda art&#xED;stica, cultural, viajes y vacaciones.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="violencia-y-abuso">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa fa-exclamation-triangle fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Violencia y abuso</h3>

                                                        <p>Ante una situaci&#xF3;n de violencia o abuso no dudes en llamar y denunciar.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="page-break"></div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="emergencias">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa fa-2x fa-ambulance text-primary fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Emergencias</h3>

                                                        <p>Te ofrecemos una lista de n&#xFA;meros y consejos a seguir.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="/tema/acceder-una-vivienda">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa fa-2x icono-arg-vivienda text-primary fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Acceder a una vivienda</h3>

                                                        <p>Informaci&#xF3;n sobre cr&#xE9;ditos, programas de vivienda para compra o mejoras y derechos de inquilinos y propietarios.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="/automotor">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa fa-2x icono-arg-auto text-primary fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Tr&#xE1;nsito y automotor</h3>

                                                        <p>Informaci&#xF3;n para circular en v&#xED;a p&#xFA;blica y para comprar, registrar, permutar, asegurar o vender tu auto o moto.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a class="card card-default" href="/transparencia">

                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="align-self-start mr-3 padding-20"> <i class="fa fa-2x fa-search text-primary fa-fw fa-2x text-primary"></i></div>

                                                    <div class="media-body">

                                                        <h3>Transparencia</h3>

                                                        <p>Informaci&#xF3;n y datos p&#xFA;blicos, estad&#xED;sticas y organismos de control.</p>

                                                    </div>

                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-texto">
                <div class="pane-content">
                    <div class="">
                        <div class="">
                            <h2 class="h3 m-b-2">M&#xE1;s consultados</h2>
                            <div class="row row-flex print">
                                <div class="col-12 col-md-6 col-xl-3 m-b-2">
                                    <a href="turnosparaanses">

                                        <h3 class="h5">Tramitar turnos para ANSES</h3>

                                    </a>
                                    <p class="text-muted">
                                        C&#xF3;mo hacer si ten&#xE9;s que sacar, consultar o cancelar turnos para
                                        los servicios de ANSES.
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 m-b-2">
                                    <a href="consultar-calendario-de-pago-de-anses">

                                        <h3 class="h5">Consultar el calendario de pago de ANSES</h3>

                                    </a>
                                    <p class="text-muted">
                                        Si sos jubilado o pensionado, o recib&#xED;s alg&#xFA;n tipo de subsidio
                                        o prestaci&#xF3;n de ANSES.
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 m-b-2">
                                    <a href="certificacionnegativa ">

                                        <h3 class="h5">Obtener certificaci&#xF3;n negativa de ANSES</h3>

                                    </a>
                                    <p class="text-muted">
                                        Si te pidieron un comprobante de que no est&#xE1;s recibiendo otros aportes
                                        de ANSES.
                                    </p>
                                </div>
                                <div class="page-break"></div>
                                <div class="col-12 col-md-6 col-xl-3 m-b-2">
                                    <a href="seguir-el-estado-de-tramite-del-dni">

                                        <h3 class="h5">Seguir el estado de tra&#x301;mite del DNI</h3>

                                    </a>
                                    <p class="text-muted">Si ya tramitaste tu DNI, pod&#xE9;s hacer el seguimiento en l&#xED;nea.</p>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 m-b-2">
                                    <a href="consultar-donde-esta-radicado-un-auto-moto-o-maquinaria">

                                        <h3 class="h5">Consultar radicacio&#x301;n de automotor</h3>

                                    </a>
                                    <p class="text-muted">
                                        Si est&#xE1;s por comprar un veh&#xED;culo, necesit&#xE1;s saber cu&#xE1;l
                                        es el Registro Automotor en el que est&#xE1; radicado.
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 m-b-2">
                                    <a href="consultar-si-estas-incluido-en-la-reparacion-historica-de-jubilados-y-pensionados ">

                                        <h3 class="h5">Consultar si esta&#x301;s incluido en la Reparaci&#xF3;n Hist&#xF3;rica de jubilados y pensionados</h3>

                                    </a>
                                    <p class="text-muted">Si sos jubilado o pensionado, pod&#xE9;s consultar si te corresponde.</p>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 m-b-2">
                                    <a href="obtener-tu-constancia-de-cuil">

                                        <h3 class="h5">Obtener tu constancia de CUIL</h3>

                                    </a>
                                    <p class="text-muted">
                                        Es un n&#xFA;mero personalizado, por el cual quedan registrados todos
                                        tus aportes laborales.
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 m-b-2">
                                    <a href="solicitar-certificado-de-antecedentes-penales">

                                        <h3 class="h5">Certificado de Antecedentes Penales</h3>

                                    </a>
                                    <p class="text-muted">
                                        Es un documento en formato electr&#xF3;nico que certifica que no ten&#xE9;s
                                        antecedentes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hidden">
    <div class="container">
        <div class="row card-equal-height  margin-60">
            <div class="col-12 col-lg-4 col-md-6">
                <a class="card panel-icon panel-secondary" href="tramites/monotributo.html">

                    <div class="card-header" style="background-image:url(tramites/img/monotributo.jpg);"></div>

                    <div class="card-body">

                        <h3><span class="d-block d-sm-none-inline text-secondary"><i class="fa fa-user"></i> &#xA0;</span>Monotributistas</h3>

                        <p class="text-muted">El monotributo es el r&#xE9;gimen que pod&#xE9;s elegir como peque&#xF1;o contribuyente para cumplir de forma simplificada tus obligaciones con la AFIP.</p>

                    </div>

                </a>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <a class="card panel-icon panel-secondary" href="tramites/dni.html">

                    <div class="card-header" style="background-image:url(tramites/img/dni1.jpg);"></div>

                    <div class="card-body">

                        <h3><span class="d-block d-sm-none-inline text-secondary"><i class="fa fa-user"></i> &#xA0;</span>Tramitar el DNI</h3>

                        <p class="text-muted">El Documento Nacional de Identidad (DNI) es el documento principal de identificaci&#xF3;n con que contamos los argentinos (en el pa&#xED;s o en el exterior) y los extranjeros con domicilio en nuestro territorio.</p>

                    </div>

                </a>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <a class="card panel-icon panel-secondary" href="tramites/pasaporte.html">

                    <div class="card-header" style="background-image:url(tramites/img/pasaporte.jpg);"></div>

                    <div class="card-body">

                        <h3><span class="d-block d-sm-none-inline text-secondary"><i class="fa fa-user"></i> &#xA0;</span>Tramitar el pasaporte</h3>

                        <p class="text-muted">Si vas a viajar al extranjero, es obligatorio tener el pasaporte al d&#xED;a, salvo que vayas a los pa&#xED;ses lim&#xED;trofes donde solo te exigen el DNI.</p>

                    </div>

                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-md-2  margin-60">
                <hr>
            </div>
        </div>
        <div class="row card-equal-height">
            <div class="col-12 col-lg-4 col-md-6">
                <a href="#" class="card card-default">

                    <div class="card-header" style="background-image:url(img/home/servicios.jpg);"></div>

                    <div class="card-body">

                        <h3 class="h2">Servicios</h3>

                        <p class="text-muted">Todos los tr&#xE1;mites del Estado para resolver tus necesidades f&#xE1;cilmente.</p>

                    </div>

                </a>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <a href="#" class="card card-default">

                    <div class="card-header" style="background-image:url(img/home/areas2.jpg);"></div>

                    <div class="card-body">

                        <h3 class="h2">&#xC1;reas de Gobierno</h3>

                        <p class="text-muted">Todas las &#xE1;reas de gobierno, sus formas de contacto y sitios web.</p>

                    </div>

                </a>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <a href="#" class="card card-default">

                    <div class="card-header" style="background-image:url(img/home/casarosada.jpg);"></div>

                    <div class="card-body">

                        <h3 class="h2">Casa Rosada</h3>

                        <p class="text-muted">Actividades y novedades del Poder Ejecutivo nacional.</p>

                    </div>

                </a>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function () {

            $.ajax({
                url: 'https://spreadsheets.google.com/feeds/list/1p2d9vryjV_k4iFtDTMTMHvn3BS8ACUc_uoL30OpHAxM/1/public/values?alt=json',
                data: 'json',
                success: function (response) {
                    var destacados = response.feed.entry;
                    //console.log(destacados);

                    for (i = 0; i < 4; i++) {
                        titulo = destacados[i].gsx$titulo.$t;
                        descripcion = destacados[i].gsx$descripcion.$t;
                        url_sitio = destacados[i].gsx$urlsitio.$t;
                        url_imagen = destacados[i].gsx$urlimagen.$t;

                        $("#destacados").append('<div class="col-xs-12 col-sm-6 col-md-3"> <a href="' + url_sitio + '" class="card card-default"> <div style="background-image:url(' + url_imagen + ');" class="card-heading"></div><div class="card-body"> <h4>' + titulo + '</h4> <div class="text-muted"> <p>' + descripcion + '</p></div></div></a> </div>');
                    }
                }
            })


        })
    </script>

}

